.site{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    	"title"
    	"masthead"
    	"main"
    	"sidebar"
    	"footer";
}
.masthead{
	grid-area: masthead;
}
.page-title{
	grid-area: title;
}
.main-content{
	grid-area: main;
}
.sidebar{
	grid-area: sidebar;
}
.footer-content{
	grid-area: footer;
}
@media only screen and (min-width: 600px){
	.site{
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 
			"title title"
			"main masthead"
			"footer sidebar";
			
	}

}
@media only screen and (min-width: 1200px){
	.site{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"sidebar masthead masthead title"
			"sidebar footer main title"
			"sidebar footer main title"
			"sidebar footer main title"
			"sidebar footer main title"
	}

}
@media only screen and (min-width: 1600px){
	.site{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-template-areas: 
			"masthead masthead masthead title"
			"sidebar main main title"
			"sidebar main main title"
			"sidebar footer footer footer"
	}

}