/* 
Note This code has been adapted from this W3Schools Example: 
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
*/

.topnav {
  overflow: hidden;
  background-color: #990000;

}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: #3F0D12;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
.title1{
  display: none;
  grid-column: col-start 1 / span 12;
  grid-row: col-start 2 / span 2;
}
.title2{
  display: none;
  grid-column: col-start  / span 12;
  grid-row: col-start 5 / span 2;
 }
.title3{
  display: none;
  grid-column: col-start  / span 12;
  grid-row: col-start 9 / span 2;
}

  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*If navigation button is off, fix padding here after styling text*/
    padding: 13.25px 18px;
    
  }
    
  .topnav a.icon{
    display: block;
    height: auto;
    width: auto;
    /*If navigation button is off, fix padding here after styling text*/
     padding: 13.25px 18px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}