<!DOCTYPE html>
<html>
<head>
	<title>Layout 1</title>
	<style type="text/css">
		header{
			height: 300px;
			margin-top: 50px;
			margin-bottom: 10px;
			background-color: black;
		}
		aside{
			float: left;
			height: 200px;
			background-color: tomato;
			width: 33.33%;
		}
		article{
			float: left;
			height: 200px;
			background-color: black;
			width:33.33%;
		}
		footer{
			clear: both;
			height: 150px;
			margin-top: 10px;
			background-color: black;
		}
	</style>
</head>
<body>
	<header></header>
	<aside></aside>
	<article></article>
	<aside></aside>
	<article></article>
	<aside></aside>
	<article></article>
	<footer></footer>
</body>
</html>