/* 
Note This code has been adapted from this W3Schools Example: 
https://www.w3schools.com/howto/howto_js_topnav_responsive.asp
*/

.topnav {
  display: grid;
  overflow: hidden;
  background-image: linear-gradient(0.95turn,#591ec8,#fa462f);

}

.topnav a {
  float: left;
  display: grid;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #7BDFF2;
  color: black;
}

.active {
  background-color: #7BDFF2;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    display: grid;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    /*If navigation button is off, fix padding here after styling text*/
    padding: 17.25px 17px;
    
  }
    
  .topnav a.icon{
    display: grid;
    height: auto;
    width: auto;
    /*If navigation button is off, fix padding here after styling text*/
     padding: 17.25px 17px;
    }
  .topnav.responsive a {
    float: none;
    display: grid;
    text-align: left;
  }
}